<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite guice-stage="DEVELOPMENT" name="Default suite" parallel="tests" thread-count="1">    <test name="seekLandingPage"> <!--  <parameter name="browser" value="chrome"></parameter> -->    <classes>      <class name="testSuite.seekLandingPage"/>    </classes>  </test>       <test name="registerBasicFlow">    <classes>      <class name="testSuite.registerBasicFlow"/>    </classes>  </test> <!-- Default test -->   </suite> <!-- Default suite --> 